body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 110%;
  background-color: #fcf7f8;
}

header {
  text-align: center;
  font-family: garamond;
  font-size: 150%;
}

footer {
  background-color: #001337;
  text-align: center;
}

header {
  background-color: #001337;
  color: white;
}

div {
  background-color: #2ecc71;
  max-height: fit-content;
  max-width: fit-content;
}

body {
  border: #eb984e;
  border-style: solid;
  border-width: 20px;
}

img {
  border-radius: 50%;
  border: #eb984e;
  border-style: solid;
}

#contactdetails {
  background-color: white;
}
